    <ul>
        <li><strong>{{ contacto.nombre}}</strong></li>
        <li><strong>Número Pokedex: </strong>{{ contacto.numero}}</li>
        <li><strong>Tipo: </strong>{{ contacto.Tipo}}</li>
    </ul>